
<div class="comment-form">
    {% if is_granted('ROLE_USER') %}
        <form action="{{ path("trick_show_id", {'id': trick.id}) }}" method="post">
            {{ form_start(commentForm) }}

            {{ form_row(commentForm.content, {
                "label": "Ajouter un commentaire",
                "attr": {
                    "placeholder": "Un petit mot ?"
                }
            }) }}

            <button type="submit" class="btn btn-primary comment-btn">Publier</button>

            {{ form_end(commentForm) }}
        </form>
    {% else %}
        <p><a href="{{ path("login_route") }}">Connectez-vous</a> pour écrire un commentaire.</p>
        <p>Pas encore inscrit ? <a href="{{ path("registration_route") }}">C'est par ici !</a></p>
    {% endif %}
</div>