
{% if is_granted('ROLE_USER') %}
    <div class="comment-form">
        {{ form_start(commentForm) }}

        {{ form_row(commentForm.content, {
            "label": "Ajouter un commentaire",
            "attr": {
                "placeholder": "Un petit mot ?"
            }
        }) }}

        <button type="submit" class="btn btn-primary comment-btn">Publier</button>

        {{ form_end(commentForm) }}
    </div>
{% else %}
    <div class="alert-info p-3">
        <p>
            <a href="{{ path("app_login") }}" style="color: whitesmoke;">Connectez-vous</a> pour écrire un commentaire.
        </p>
        <p>
            Vous êtes nouveau ? <a href="{{ path("registration_route") }}" style="color: whitesmoke;">Inscrivez-vous</a>
        </p>
    </div>
{% endif %}