{% macro trickMedias(trick) %}
{#
    {% for media in trick.medias %}
        <img src="{{ media.path }}" alt="Média">
    {% endfor %}
#}
{% endmacro %}

{% macro trickMetadata(trick) %}

    <span class="metadata">Trick créé le {{ trick.createdAt|date('d/m/Y') }} à {{ trick.createdAt|date('H:i') }}</span>
    {% if trick.modifiedAt %}
        <span class="metadata">Modifié le {{ trick.modifiedAt|date('d/m/Y') }} à {{ trick.modifiedAt|date('H:i') }}</span>
    {% endif %}

{% endmacro %}