{% extends "base.html.twig" %}

{% block title %}Editeur{% endblock %}

{% block header %}
    <header>
        {% if editMode %}
            <h1>Modification d'un trick</h1>
        {% else %}
            <h1>Création d'un trick de foufou</h1>
        {% endif %}
    </header>
{% endblock %}

{% block body %}

    {{ form_start(trickForm) }}

    {{ form_row(trickForm.name, {
        "label": "Nom",
        "attr": {
            "placeholder": "Nom du trick"
        }
    }) }}

    {{ form_row(trickForm.description, {
        "label": "Description",
        "attr": {
            "placeholder": "Description"
        }
    }) }}

    {{ form_row(trickForm.trickGroups, {
        "label": "Groupe",
        "attr": {
            "placeholder": "Groupe"
        }
    }) }}

    {{ form_row(trickForm.mainImage, {
        "label": "Image principale",
        "attr": {
            "placeholder": "Image principale : https://url.de.ma.supebe.image"
        }
    }) }}

    <label for="">Images</label>
    {% for image in trickForm.images %}
        {{ form_row(image, {
            "attr": {
                "placeholder": "https://url.de.ma.supebe.image"
            }
        }) }}
    {% endfor %}

    <label for="">Vidéos</label>
    {% for video in trickForm.videos %}
        {{ form_row(video, {
            "attr": {
                "placeholder": "https://url.de.ma.supebe.video"
            }
        }) }}
    {% endfor %}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter le trick
        {% endif %}
    </button>

    {{ form_end(trickForm, {'render_rest': false}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Add buttons to delete inputs #}
    <script>
        var myTrickEditor = {
            addDeleteButtons: function () {
                var imageInputElts = document.querySelectorAll('input[id*="trick_images_"]'),
                    videoInputElts = document.querySelectorAll('input[id*="trick_videos_"]'),
                    classes = "btn btn-danger",
                    text = "x";

                for (var imageInputElt of imageInputElts) {
                    myApp.elementTool.addButton(imageInputElt.parentNode.parentNode.parentNode, text, myApp.elementTool.removeElement, imageInputElt.parentNode.parentNode.parentNode, classes);
                }

                for (var videoInputElt of videoInputElts) {
                    myApp.elementTool.addButton(videoInputElt.parentNode.parentNode.parentNode, text, myApp.elementTool.removeElement, videoInputElt.parentNode.parentNode.parentNode, classes);
                }
            }
        };

        myTrickEditor.addDeleteButtons();
    </script>
{% endblock %}