{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/paging.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" href="/css/trick.css">
    <style>
        .trick-header {
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1)), url("{{ trick.mainImage ?? "/public/img/mountain_1.jpg" }}");
        }

        #trick-main-image {
            background-image: url("{{ trick.mainImage ?? "/public/img/no_image.jpg" }}");
        }
    </style>
{% endblock %}

{% block header %}
    <header class="trick-header">
        {% if is_granted('ROLE_EDITOR') or trick.author is same as(app.user) %}
            <div class="commands-wrapper">
                <a class="command btn-warning" href="{{ path("edit_trick", {"slug": trick.slug}) }}"><i class="fas fa-edit"></i></a><a class="command btn-danger" href="{{ path("delete_trick", {"slug": trick.slug}) }}"><i class="fas fa-trash-alt"></i></a>
            </div>
        {% endif %}
        <div id="trick-title">
            <div id="trick-main-image"></div>
            <h1>{{ trick.name }}</h1>
        </div>
    </header>
{% endblock %}

{% block body %}

    {# Medias #}
    <div class="trick-medias row mt-3">
        <div class="trick-media-type col-sm-6 col-12">
            {% for image in trick.images %}
                <a href="{{ image.url }}" class="trick-media" style="background-image: url('{{ image.url }}')"></a>
            {% endfor %}
        </div>
        {% if trick.videos %}
            <div class="trick-media-type col-sm-6 col-12">
                {% for video in trick.videos %}
                    <iframe class="embedded-video trick-media" src="{{ video.url|youTubeEmbed }}"></iframe>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <hr>

    {# Description #}
    <div class="trick-description">
        {{ trick.description|raw }}
    </div>

    {# Info #}
    <div class="trick-metadata">
        <div class="d-flex justify-content-center flex-wrap">
            <span class="metadata m-3">Trick créé le {{ trick.createdAt|date('d/m/Y') }} à {{ trick.createdAt|date('H:i') }} par <a href="{{ path("member_profile", {"id": trick.author.id}) }}">{{ trick.author.name }}</a></span>
            {% if trick.modifiedAt %}
                <span class="metadata m-3">Modifié le {{ trick.modifiedAt|date('d/m/Y') }} à {{ trick.modifiedAt|date('H:i') }}</span>
            {% endif %}
            {% if trick.trickGroups %}
                {% for trickGroup in trick.trickGroups %}
                    <a class="btn btn-primary m-3" href="#">{{ trickGroup.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <hr>
    {# Comments #}
    <div id="trick-comments">
        {% include "trick/comment/commentForm.html.twig" %}
        <hr>
        {% include "trick/comment/comment.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Markdown #}
    <script src="/js/marked.js"></script>
    <script>
        var markdownConverter = {
            convertContent: function (element) {
                element.innerHTML = marked(element.textContent);
            }
        };

        (function () {
            var commentElts = document.getElementsByClassName("comment-content");

            for (let i = 0, size = commentElts.length; i < size; i++) {
                markdownConverter.convertContent(commentElts[i]);
            }
        })();
    </script>
{% endblock %}
