{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block stylesheets %}
    <style>
        h1 {
            background-color: rgba(47, 79, 79, 0.75);
            padding: 20px 40px;
            border-radius: 10px;
        }

        .trick-header {
            height: 500px;
            {% if trick.mainImage %}
                background-image: url("{{ trick.mainImage }}");
            {% else %}
                background-image: url("/public/img/no_image.jpg");
            {% endif %}
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
{% endblock %}

{% block header %}
    <header class="trick-header">
        <h1>{{ trick.name }}</h1>
    </header>
{% endblock %}

{% block body %}
    <div class="commands-wrapper">
        <a class="command" href="{{ path("edit_trick", {"id": trick.id}) }}">🖉</a><a class="command" href="{{ path("delete_trick", {"id": trick.id}) }}">🗑</a>
    </div>

    {# Medias #}
    <div class="trick-medias">
        {# TODO: insert images and videos #}
    </div>

    {# Description #}
    <div class="trick-description">
        {{ trick.description|raw }}
    </div>

    {# Info #}
    <div class="trick-metadata">
        {% if trick.getTrickGroups() %}
            <div>
            {% for trickGroup in trick.getTrickGroups() %}
                <a href="#">{{ trickGroup.getName() }}</a>
            {% endfor %}
            </div>
        {% endif %}
        <span class="metadata">Trick créé le {{ trick.createdAt|date('d/m/Y') }} à {{ trick.createdAt|date('H:i') }}</span>
        {% if trick.modifiedAt %}
            <span class="metadata">Modifié le {{ trick.modifiedAt|date('d/m/Y') }} à {{ trick.modifiedAt|date('H:i') }}</span>
        {% endif %}
    </div>

    {# Comments #}
    <div class="trick-comments">
        {# TODO: insert comments and new comment form #}
    </div>
{% endblock %}
