{% extends 'base.html.twig' %}

{% import "trick/macros/commands.html.twig" as commands %}
{% import "trick/macros/trickParts.html.twig" as trickParts %}

{% block title %}{{ trick.getName }}{% endblock %}

{% block body %}
    <div>
        <figure>
            <img src="https://via.placeholder.com/1000x500?text=MainImage" alt="Image principale">
        </figure>
        <h1>{{ trick.getName }}</h1>
        {#{{ commands.showCommands('#', '#', '<i class="fas fa-pencil-alt"></i>', '<i class="fas fa-trash-alt"></i>') }}#}{# BUG: the raw filter does not work properly #}
        {{ commands.showCommands() }}
    </div>

    <div class="trick-medias">
        {{ trickParts.trickMedias(trick) }}
    </div>

    <div class="trick-description">
        {{ trick.getDescription|raw }}
    </div>

    <div class="trick-metadata">
        {{ trickParts.trickMetadata(trick) }}
    </div>

    <div class="trick-comments">

    </div>
{% endblock %}
