{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <div>
        <figure>
            <img src="https://via.placeholder.com/1000x500?text=MainImage" alt="Image principale">
        </figure>
        <h1>{{ trick.name }}</h1>

        <div class="commands-wrapper">
            <a class="command" href="/edit-trick/{{ trick.id }}">🖉</a><a class="command" href="#">🗑</a>
        </div>
    </div>

    {# Medias #}
    <div class="trick-medias">
        {# TODO: insert images and videos #}
    </div>

    {# Description #}
    <div class="trick-description">
        {{ trick.description|raw }}
    </div>

    {# Info #}
    <div class="trick-metadata">
        <span class="metadata">Trick créé le {{ trick.createdAt|date('d/m/Y') }} à {{ trick.createdAt|date('H:i') }}</span>
        {% if trick.modifiedAt %}
            <span class="metadata">Modifié le {{ trick.modifiedAt|date('d/m/Y') }} à {{ trick.modifiedAt|date('H:i') }}</span>
        {% endif %}
    </div>

    {# Comments #}
    <div class="trick-comments">
        {# TODO: insert comments and new comment form #}
    </div>
{% endblock %}
